<h2>Ogłoszenia</h2>
<ul>
  <li *ngFor="let ogloszenie of ogloszenia">
    <a [routerLink]="['/ogloszenia', ogloszenie]">{{
      formatDate(ogloszenie)
      }}</a>
  </li>
</ul>

<h2>Intencje</h2>
<ul>
  <li *ngFor="let intencja of intencje">
    <a [routerLink]="['/intencje', intencja]">{{ formatDate(intencja) }}</a>
  </li>
</ul>


<h2>Galeria</h2>
<ul>
  <li>
    <a [routerLink]="['/galeria']">Galeria</a>
  </li>
</ul>

<h2>Nabożeństwa</h2>
<ul>
  <li>
    <a [routerLink]="['/nabozenstwa']">Nabożeństwa</a>
  </li>
</ul>