<p>admin-panel works!</p>

<div>
  <input placeholder="token" [(ngModel)]="apiKey" />
  <button (click)="onUpload()">Zaktualizuj</button>
  <button (click)="onReloadContent()">Aktualizuj galerię</button>
</div>

<div>
  <input placeholder="data (yyyy-mm-dd)" [(ngModel)]="date" />
</div>

<div>
  Ogłoszenia:
  <input type="file" accept=".htm" (change)="onAnnouncementsFileChange($event)" />
</div>

<div>
  Intencje:
  <input type="file" accept=".htm" (change)="onIntentionsFileChange($event)" />
</div>
